<div class="cookies_text">

	<div>	
		Questa applicazione web non utilizza alcun tipo di cookie di profilazione utente.
	</div>

	<div>
		Gli unici cookie utilizzati sono:
		<ul>
			<li>
				un cookie di sessione (PHPSESSID) necessario per il mantenimento della sessione 
				utente. Questo cookie viene cancellato appena viene chiuso il 
				programma browser
				e verrà ricreato ex-novo al sucessivo collegamento. 
				Poichè il cookie scompare con la sessione,
				è evidentemente impossibile utilizzarlo a fini di profilazione.
				In ogni caso, qualora l'utente non effettuasse registrazione o login, 
				il cookie non potrebbe avere alcun tipo di effetto pratico.
			</li>
			<li>
				un cookie per il salvataggio delle preferenze-utente (modalità di 
				navigazione, nr. di righe per tabella, posizione dei bottoni nella tabella),
				il cui nome è <i>followthesmell_prefs</i>. Questo cookie viene 
				creato solamente quando si modificano le preferenze rispetto a 
				quelle preimpostate, e non viene creato insieme all'applicazione.
				Una volta creato, resta nel dispositivo del vistatore per 12 anni.
			</li>
			<li>
				4 cookies provenienti da google.com che vengono generati (e rigenerati)
				ogni volta che si prende visione di una delle mappe all'interno
				del programma. I cookie in questione si cancellano automaticamente
				ogni volta che si abbandona la pagina dove la mappa è visualizzata.
				In ogni caso, servono unicamente per il colloquio  tra l'applicazione 
				e il servizio GoogleMaps, e non entrano minimamente a contatto
				con alcun dato dell'utente.
			</li>
		</ul>	
	</div>

	<div>	
		Data la situazione esposta, non è necessario avvertire l'utente dell'utilizzo
		dei cookie prima dell'ingresso nel sito: l'unico cookie permanente
		viene creato solamente dopo che il visitatore ha potuto prendere
		visione della presente pagina.
	</div>


</div>

