<div class="home_text">

	<div>	
		Questa piccola applicazione web permette agli iscritti di
	</div>

	<div>	
		<ul>
			<li>
				registrare una segnalazione di cattivo odore emesso dallo stabilimento AgrEnergia 
				(al massimo una segnalazione ogni 2 ore per ogni iscritto)
			</li>
			<li>
				a fronte della segnalazione, inviare contestualmente un messaggio PEC 
				(quindi tramite un canale ufficiale, equivalente legalmente alla raccomandata RR)
				a ARPAE Emilia-Romagna e per conoscenza al Comune di San Pietro in Casale 
				e al vostro indirizzo di posta elettronica non PEC
			</li>
			<li>
				mantenere lo storico di tutte le segnalazioni effettuate, per uso 
				statistico, documentale, ecc.
			</li>
			<li>
				mostrare la mappa geografica delle segnalazioni registrate, anche
				in periodi di tempo, per monitorare quali sono le zone maggiormente 
				interessate dal fenomeno, anche in questo caso a fini statistici e 
				documentali
			</li>
			<li>
				mostrare grafici orari della frequenza delle segnalazioni registrate, 
				anche in questo caso per monitorare quali sono i momenti della giornata
				maggiormente interessati dal fenomeno e sempre a fini statistici e 
				documentali
			</li>
			<li>
				pubblicare e condividere la documentazione raccolta dai membri del 
				comitato/gruppo-informale di cittadini che vorranno aderire, in modo che
				nulla vada disperso tra mail, messaggi chat, ecc.
			</li>
			<li>
				conoscersi e "vedersi in faccia" tramite la lista dei partecipanti
				all'iniziativa: se vogliamo portare avanti una protesta comune tra
				vicini di casa è il minimo di trasparenza e amicizia da cui partire.
			</li>
		</ul>	
	</div>

	<div class="home_subtitle">	
		Ma io non ho una PEC!
	</div>

	<div>	
		Questo non è un problema, sarà utilizzata una casella PEC fornita dal
		programma.
	</div>
		
	<div>	
		La casella di PEC utilizzata dal programma per l'invio del messaggio a 
		ARPAE sarà intestata al comitato o a uno dei partecipanti al gruppo 
		informale: non è particolarmente importante questo.
	</div>

	<div>	
		La PEC, di fatto, non è che una busta, o meglio: una modalità di spedizione; 
		non certifica il contenuto, certifica inoppugnabilmente soltanto che un 
		messaggio è stato inviato e ricevuto, analogamente a quanto avviene con 
		la raccomandata AR.
	</div>

	<div>	
		E' quindi perfettamente legittimo che tu possa usare una PEC non a te 
		intestata per inviare un messaggio a una Pubblica Amministrazione: è 
		come inviare una richiesta a una PA a titolo personale in una busta  
		intestata dell'azienda per cui si lavora. Il titolare della PEC del sito, 
		che sia il comitato o un privato cittadino, ha semplicemente gli stessi 
		obblighi della PA: non può dire di non avere spedito il messaggio; ma 
		non è legalmente tenuto a conoscerne il contenuto e quindi non è responsabile 
		del contenuto se questo è esplicitamente stato 
		redatto da un'altra persona che se ne assume la responsabilità.
	</div>
	
	<div class="home_subtitle">	
		Come funziona?
	</div>
	
	<div>	
		Se non avete voglia di leggere e capire, allora potete seguire la
		<a href="hit_wiz_0.php">procedura guidata</a> per creare una nuova
		segnalazione via PEC a ARPAE. Fine.
	</div>

	<div>	
		Se invece siete curiosi, cosa che vi consigliamo soprattutto se state 
		navigando con un computer (non con smartphone, quindi), allora 
		scoprirete che i 5
		minuti che perderete a leggere e gli altri 5 minuti di mal di testa che 
		caratterizzano l'impatto con ogni nuovo software, non saranno vermente
		persi, perchè potrete utilizzare il programma anche per ricevere informazioni,
		e non solo per fornirle.
	</div>

	<div>	
		Per prima cosa, sappiate che di fianco a ogni funzionalità c'è il tasto Help
		<img src="ui/img/tasto_help.png">
		cliccando/tappando sul quale potrete leggere un aiuto online tutte le volte 
		che siete in difficoltà su come comportarvi. Usatelo (è stato perso molto 
		più tempo a scrivere la guida che a scrivere il programma).
	</div>

	<div>	
		Operativamente:
	</div>

	<div>	
		<ul>
			<li>
				se non lo avete ancora fatto, <a href="frm_registration.php">registratevi</a> 
				inserendo i vostri dati nell'apposito modulo. Se avete
				problemi a farvi riconoscere l'indirizzo, usate il tasto Help 
				<img src="ui/img/tasto_help.png"> posto 
				sopra il campo. Della privacy ne parliamo dopo
			</li>
			<li>
				riceverete un messaggio email al vostro indirizzo di posta elettronica.
				Il messaggio contiene un link: cliccateci sopra e siete dentro l'applicazione.
			</li>
			<li>
				da ora in avanti, ogni volta che vorrete <a href="frm_login.php">entrare nell'applicazione</a>
				dovrete usare il vostro indirizzo email e la password che avete scelto
			</li>
			<li>
				una volta dentro potrete registrare e quindi inviare ad ARPAE nuove segnalazioni,
				nonchè consultare le mappe, i grafici e tutto il resto. Ogni sezione contiene il proprio
				tasto Help <img src="ui/img/tasto_help.png"> che spiega cosa fare.
			</li>
			<li>
				potete anche <a href="google_login.php">registrarvi/entrare con il vostro account Google</a>, il
				quale Google però, ovviamente, non conosce l'indirizzo fisico della vostra abitazione o se lo conosce
				non lo mette a disposizione di chiunque: quindi, alla prima segnalazione
				dovrete inserire il vostro indirizzo di casa. E attenzione: se nel vostro
				account Google siete registrati con un nome e cognome di fantasia,
				tipo "Pagliaccio Pagliacci", sappiate che la PEC che invierete a
				ARPAE conterrà quel nome! Quindi, se questo è il caso, una volta entrati nel programma
				modificate il vostro profilo (<i>Strumenti->Profilo</i>) inserendo i dati corretti.
			</li>
		</ul>
	</div>

	<div class="home_subtitle">	
		Privacy
	</div>

	<div>	
		Fatto salvo che avete tutto il diritto, peraltro riconosciuto dalla normativa
		più rompiscatole della storia del pianeta,
		a che i vostri dati non vengano divulgati a terzi senza il vostro consenso
		(e se questo dovesse succedere la soluzione è semplice: uscite di casa, prendete la bicicletta, 
		andate a casa del titolare del trattamento dei dati, cioè in fondo a Via Raveda, 
		lo prendete per il bavero, lo picchiate e poi riprendete la bicicletta e tornate a casa), per il resto
		è del tutto evidente che una iniziativa del genere non può nascondere i 
		dati personali che inserirete a nessuno degli altri iscritti. Nome, email, indirizzo, telefono,
		segnalazioni registrate, sono tutti dati a disposizione di chiunque si registri,
		che comunque anche voi avrete possibilità di  controllare chi è. 
		Se questo vi dovesse creare problemi, pensateci prima,
		ma deve essere chiaro a tutti che non può che essere così.
	</div>

	<div>	
		Per quanto riguarda il diritto all'oblio (cancellazione completa dei propri dati
		personali dalla base dati dell'applicazione): questa sarà possibile solo
		se non è mai stata registrata dall'iscritto alcuna segnalazione con annesso invio di
		PEC a ARPA: in questo caso, essendo presente un documento ufficiale di cui
		si dovrà eventualmente rispondere, non sarà possibile cancellare 
		definitivamente i vostri dati personali: questi non saranno più visibili
		agli altri iscritti, ma resteranno comunque presenti nella base dati, e 
		producibili solo all'autorità competente qualora ne facesse richiesta: 
		anche questo è un obbligo di legge.
	</div>


	<div class="home_subtitle">	
		Usabilità
	</div>

	<div>	
		Questa è una applicazione web, non un'app per smartphone/tablet. Quindi 
		è nata per essere usata su un computer, non su un dispositivo mobile.
	</div>

	<div>	
		Tuttavia è stata realizzata tenendo in mente anche i dispositivi mobili, 
		quindi è sostanzialmente usabile, salvo che la modalità di navigazione 
		potrebbe non risultarvi familiare se usate normalmente solo lo smartphone.
		Quando vi trovate in difficoltà su come navigare, usate il 
		tasto Help <img src="ui/img/tasto_help.png"> posto vicino al titolo della pagina,
		che spiega cosa fare.
		Inoltre, smanettando le preferenze di fruizione del programma (che troverete una volta
		entrati nel menu <i>Strumenti->Preferenze</i>), dovreste poter trovare una 
		modalità di fruizione accettabile.
		In ogni caso, non sono supportati browser o smartphone di vecchia data
		(Internet Explorer 10 o Android 2.x quasi sicuramente non permettono una
		corretta navigazione).
	</div>

	<div>
		Una delle principali differenze nell'utilizzo tra compuer e smartphone è quello
		della visibilità del menu del programma, nella parte alta della pagina.
		Mentre su computer (meglio: su schermi grandi; anche alcuni tablet ce la fanno)
		il menu viene mostrato per esteso
		<br>
		<img src="ui/img/help_menu_pc.png">
		<br>
		su smartphone il menu viene compresso in un unico bottone che troverete in alto a destra
		<br>
		<img src="ui/img/help_menu_mobile.png">
		<br>
		Premedo su questo bottone il menu si aprirà a fisarmonica e potrete 
		finalmente utilizzarlo.
	</div>
	
	<div>	
		Poi un giorno quando saremo ricchi, famosi, belli, biondi, giovani e in 
		pensione, allora faremo anche l'app.
	</div>

	<div class="home_subtitle">	
		Norme di comportamento
	</div>

	<div>	
		Molto semplice: tutto ciò che dichiarerete (sostanzialmente: le segnalazioni
		di cattivo odore) dovrà corrispondere a verità. Se così non dovesse essere, 
		ne risponderete a chi di dovere. Si avvisa che qualsiasi operazione sull'applicazione viene 
		registrata, quindi, anche in caso di modifica/cancellazione di un dato, 
		sarà sempre possibile risalire alla situazione precedente alla modifica/cancellazione.
	</div>

	<div>	
		Ma siamo tutti certi che di questi avvisi non ce ne sarà alcun bisogno, se
		non, appunto, per parare il fondoschiena al titolare del dominio che 
		si assume delle responsabilità nei confronti della legge.
	</div>

	<div class="home_subtitle">	
		Infine
	</div>

	<div>	
		Chi ha realizzato questa applicazione ha fatto a lungo questo di mestiere
		come cane-sciolto. Ora fa sempre lo stesso mestiere, sempre come cane ma legato-alla-catena: 
		non ha più partita IVA ed è dipendente di un'azienda. Quindi, nessun 
		conflitto di interessi. <img src="ui/img/smile.png" style="width: 24px;">
	</div>
		
	<div>
		A chi dovesse interessare, a questi indirizzi potrete scaricare il codice
		il codice sorgente:
		<ul>
			<li><a href="https://bitbucket.org/fabriziomonti/followthesmell/src/master/" target="_blank">applicazione<a/>
			<li><a href="https://bitbucket.org/fabriziomonti/walibs4/src/master/" target="_blank">framework</a>
		</ul>
	</div>

</div>

