@CHARSET "UTF-8";

div.waapplication_cookies_text 
{
	margin-left: 6px;
	max-width: 800px;
	
}

div.waapplication_cookies_text div
	{
		margin-top: 1rem;
		margin-bottom: 2rem;
		text-align: justify;
	}
	
