@CHARSET "UTF-8";

@import url("waform.css");
@import url("watable.css");
@import url("wamenu.css");

html
	{
	}
	
body
	{
	margin: 1rem;
	margin-top: 1rem;
	}
	
div.waapplication_title
{
	font-size: 2rem;
	margin-left: 6px;
}

div.waapplication_subtitle
{
	width: 60%;
	font-size: 1.6rem;
	margin-top: 2rem;
	margin-left: 6px;
}

div.waapplication_version_data
{
	border-top: #ccc 1px solid;
	border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;	
    clear: both;
    text-align: right;
	margin-top: 10rem;
	margin-bottom: 8rem;
	width: 100%;
}

div#waapplication_logo
{
	float: right;
	margin-right: 6px;
	margin-top: -16px;
	margin-left: 2rem;	
	width: 48px;
	height: 48px;
	/*background: transparent url(../../img/backoffice/viva_logo_rect.svg) center center no-repeat;*/
}

div.waapplication_message
{
	margin-left: 6px;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

div.waapplication_action_back,
div.waapplication_action_close
{
	margin-left: 6px;
	margin-top: 2rem;
	margin-bottom: 6rem;
}

div.waapplication_google_login_link,
div.waapplication_no_google_login_link,
div.waapplication_registration_link,
div.waapplication_cns_registration_link,
div.waapplication_reset_pwd_link,
div.waapplication_hit_wiz_link,
div.waapplication_home_link
{
	clear: both;
	margin-left: 6px;
	margin-top: 2rem;
	padding-top: 2rem;
	font-size: 1.6rem;
	border-top: #ccc 1px solid;
}

div.waapplication_message div.pesante
{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: bold;
}

div.waapplication_free_text
{
	margin-left: 6px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#disabilita_tutto {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
	right: 0;
	height: 1000rem;
    display: none;
}

/*badge*/
span.badge.red
{
	background-color: red;
	border: none;
}

span.badge.red:hover:before
{
	content: "Mancano dati al tuo profilo";
}

.scrollTop-btn 
	{
	color:#fff;
	position:fixed;
	padding:10px 15px 0px 15px;
	border-radius:	1em;
	width: 5rem;;
	height: 4rem;
	right: 1rem;
	bottom: 1rem;
	cursor: pointer;
	background: rgba(0,0,0,0.4) url("../img/scrolltop.png") center center no-repeat;
	}
	

button.btn
{
	border: #ccc 1px solid;
}

@media screen and (max-width: 767px){
}

.modal-body img
{ 
        max-width: 100%; 
}
