@CHARSET "UTF-8";

.waapplication_help_text
	{
		margin-left: 6px;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	
.waapplication_help_buttons
	{
		margin-left: 6px;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	
form.waform span
	{
		border: none;
	}
	
