@CHARSET "UTF-8";

div.waapplication_google_login_link,
div.waapplication_no_google_login_link
{
	margin-top: 4rem;
}

form.waform button {
    width: 100%;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

}

form.waform button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
	text-decoration: none;
}


