@CHARSET "UTF-8";

div.waapplication_hit_wiz_email_message_hdr,
div.waapplication_hit_wiz_email_message_ftr
{
	margin-left: 6px;
	margin-top: 2rem;
		
}

div.waapplication_hit_wiz_email_message_ftr
{
	font-weight: bold;
	font-size: 1.6rem;
}

div pre
{
	margin-top: 2rem;
	white-space: pre-wrap;
	word-break: normal;
}

form.waform:before
{
	content: "";
}
