@CHARSET "UTF-8";

div.waapplication_home_text 
{
	margin-left: 6px;
	max-width: 800px;
	
}

div.waapplication_home_text div
	{
		margin-top: 1rem;
		margin-bottom: 2rem;
		text-align: justify;
	}
	
div.waapplication_home_text div.home_subtitle
	{
		font-weight: bold;
	}
	
div.home_text hr
	{
    border: none;
    height: 1px;
    color: #ccc; /* old IE */
    background-color: #ccc; /* Modern Browsers */
	}
	
