/*div.user_image {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

div.user_image img {
  width: auto;
  height: 100%;
  margin-left: -10px;
}*/

div.user_image {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
	display: inline-block;
	border-radius: 20px;
}
