form.waform
{
	padding-left: 6px;
	float: left;
	width: 500px;
}

form.waform div.container
{
	padding-left: 0;
}


/* controllo complesso multiselect_checkbox */
form.waform div.waform_multiselect_checkbox
	{
	height: 17rem;
	}

/* bottoni caricamento file */
form.waform span.hidden-xs
{
	border: none;
}

form.waform div.file-input div.btn-file
{
	margin-bottom: 1rem;
}

form.waform .mce-menubtn span,
form.waform span.glyphicon
	{
		border: none;
	}
	
form.waform div.waform_geolocalize_container
	{
	/*border: #000 1px solid;*/
	padding: 0rem;
	/*border-radius: .5rem;*/
	}
	
form.waform button
	{
	margin-bottom: 1rem;
	min-width: 9rem;
	}	
	
form.waform div.waform_notcontrol#waForm_tax_code_hint
	{
	text-align: justify;
	border: none;
	overflow: visible;
	margin-bottom: 2rem;
	}
	
	
form.waform div.waframe
	{
	border: #000 1px solid;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border-radius: .5rem;
	}	
	
form.waform div.waframe div.waframe_label
	{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: bold;
	font-size: 1.6rem;
	}	

form.waform ul.nav-tabs li a
	{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: bold;
	/*font-size: 1.6rem;*/
	}	

/*aggiuge asterisco ai campi obbligatori e info a inizio form*/
form.waform:before{
	font-size : small;
    content: "* indica i campi obbligatori"   
}

form.waform label.required:after{
 content: " *"
}

form.waform div.wajson
{
	margin-bottom: 2rem;
}

form.waform div.wajson table.jsoneditor-search
{
	margin-top: -.5rem;
}

form.waform div.wajson div.jsoneditor-treepath
{
}

form.waform textarea.waform_geolocalize_complete_address
	{
	height: 3.5rem; 
	resize:none; 
	overflow:hidden;
	}
	
form.waform label[id^=waform_lblradio_]
	{
	font-weight: normal;
	}
	
	
	
	

@media screen and (max-width: 767px){

	form.waform
	{
		width: 100%;
	}


}

	