div.waapplication_waMenu
{
	margin-left: 6px;
	margin-right: 6px;
	border-radius: 4px;
}


div.navbar.navbar-default
{
	background-color: transparent;
	border: none;
	margin-top: -1.6rem;
}

div.navbar-header.domain_institutional_menu
{
	float: left;
	margin-left: 1.4rem;
}

div.navbar-collapse.collapse.followthesmell_menu
{
	background-color: #f8f8f8;
}


