div.watable_navbar
{
	margin: 0;
}

form.watable table th.id_cell,
form.watable table td.id_cell
{
	width: 1px;
}


form.watable button
{
	min-width: 12rem;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #e7e7e7;
}

.group-btn button {
    /*width: 40px !important;*/
    min-width: 40px !important;
    height: 40px !important;
}

td.btn-action .btn-primary {
	min-width : 40px !important;
	height: 40px;
	
}
td.btn-action .dropdown-toggle {
	min-width : 30px !important;
}

td.btn-action span{
	color : white;
}

.table-responsive {
/*    padding-bottom: 200px;
    overflow-y: scroll;*/
}

@media screen and (max-width: 767px) {
	.table-responsive {
	  border: 0px solid #ddd !important;
	}
	.table-responsive > .table-bordered {
	  border: 1px solid #ddd !important;
	}

	form.watable button
	{
	   min-width: 6rem;
	}

}
